<div class="container" style="width: 70vw; margin-top: 5vh">
    <div class="card">
        <div class="card-header">Form</div>
        <div class="card-body">
            <div style="text-align: center;">
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                        <input type="radio" class="form-check-input professional" id="profession1" name="profession" value="Student">Student
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio2">
                        <input type="radio" class="form-check-input professional" id="profession2" name="profession" value="Teacher">Teacher
                    </label>
                </div>
            </div>
            
            <form class="mt-4" action="/studentresponse" method="post" id="studentform" style="display: none;">
                <div class="form-group row">
                    <div class="col-md-2">
                        <h6 class="mt-2">Name :</h6>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="Full Name" name="fullname" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <h6 class="mt-2">Email :</h6>
                    </div>
                    <div class="col-md-9">
                        <input type="email" class="form-control" placeholder="Email" name="email" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <h6 class="mt-2">Contact Number :</h6>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="Contact Number" name="number" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <h6 class="mt-2">College :</h6>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="College" name="college" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <h6 class="mt-2">Admission Number :</h6>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="Admission Number" name="admission_no" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <h6 class="mt-2">Select Product :</h6>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" name="product" id="product" required>
                            <option value="select" selected disabled>Select</option>
                            <option value="LetzConnect">LetzConnect</option>
                            <option value="Glabs">Glabs</option>
                            <option value="ONE.class">ONE.class</option>
                            <option value="PupilFirst">PupilFirst</option>
                            <option value="Aspiration.ai">Aspiration.ai</option>
                            <option value="upGrad for College">upGrad for College-  5 Seperate Programs - Specialization program in Data Science, Digital Marketing, Business Analytics, Fundamental of Programming, Full Stack Development</option>
                            <option value="Visual Learning">Visual Learning & Virtual Lab Solution & university question and Answer</option>
                            <option value="FACE ProGrad">FACE ProGrad</option>
                            <option value="STEP TRAIN">STEP TRAIN</option>  
                            <option value="Interactive Teaching and Learning Platform">Interactive Teaching and Learning Platform</option>
                            <option value="E-Box">E-Box</option>
                            <option value="Talent Rank">Talent Rank</option>
                            <option value="Accelerator Program">Accelerator Program</option>
                            <option value="EnglishBolo">EnglishBolo</option>
                            <option value="Career Path Navigator">Career Path Navigator (Training Recommendation & Intervention)</option>
                            <option value="Job Readiness">Job Readiness (Company Specific Mocks/Prep)</option>
                            <option value="Embibe for Learners & Educators">Embibe for Learners & Educators</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <h6 class="mt-2">Bucket :</h6>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="Bucket" name="bucket" id="bucket" readonly>
                    </div>
                </div>

                <table class="table table-bordered table-hover" id="questions" style="display: none;">
                    <tbody>
                        <tr>
                            <td class="ques">Was the course useful ?</td>
                            <td class="range">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer1" value="1">1
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer1" value="2">2
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer1" value="3">3
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer1" value="4">4
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ques">Does the course make you more employable ?</td>
                            <td class="range">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer2" value="1">1
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer2" value="2">2
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer2" value="3">3
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer2" value="4">4
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ques">Was the quality of content, question or product good ?</td>
                            <td class="range">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer3" value="1">1
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer3" value="2">2
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer3" value="3">3
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer3" value="4">4
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ques">Was the flow of content or sequence of questions and activities logically connected ?</td>
                            <td class="range">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer4" value="1">1
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer4" value="2">2
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer4" value="3">3
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer4" value="4">4
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ques">Was the course/product build to meet your personalized requirements ?</td>
                            <td class="range">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer5" value="1">1
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer5" value="2">2
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer5" value="3">3
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer5" value="4">4
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ques">Was the expected outcome delivered sufficiently ?</td>
                            <td class="range">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer6" value="1">1
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer6" value="2">2
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer6" value="3">3
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer6" value="4">4
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ques">Was the correctness of content/question/suggestions validated by you and found acceptable ?</td>
                            <td class="range">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer7" value="1">1
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer7" value="2">2
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer7" value="3">3
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer7" value="4">4
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ques">Was the learning experience engaging and keep you interested in product use ?</td>
                            <td class="range">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer8" value="1">1
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer8" value="2">2
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer8" value="3">3
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer8" value="4">4
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="container" style="text-align: center;">
                    <button type="submit" class="btn btn-outline-success w-25">Submit</button>
                </div>
            </form>

            <form class="mt-4" action="/teacherresponse" method="post" id="teacherform" style="display: none;">
                <div class="form-group row">
                    <div class="col-md-2">
                        <h6 class="mt-2">Name :</h6>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="Full Name" name="fullname" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <h6 class="mt-2">Email :</h6>
                    </div>
                    <div class="col-md-9">
                        <input type="email" class="form-control" placeholder="Email" name="email" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <h6 class="mt-2">Contact Number :</h6>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="Contact Number" name="number" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <h6 class="mt-2">College :</h6>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="College" name="college" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <h6 class="mt-2">Employee ID :</h6>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="Employee ID" name="employee_id" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <h6 class="mt-2">Select Product :</h6>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" name="product" id="teacherproduct" required>
                            <option value="select" selected disabled>Select</option>
                            <option value="LetzConnect">LetzConnect</option>
                            <option value="Glabs">Glabs</option>
                            <option value="ONE.class">ONE.class</option>
                            <option value="PupilFirst">PupilFirst</option>
                            <option value="Aspiration.ai">Aspiration.ai</option>
                            <option value="upGrad for College">upGrad for College-  5 Seperate Programs - Specialization program in Data Science, Digital Marketing, Business Analytics, Fundamental of Programming, Full Stack Development</option>
                            <option value="Visual Learning">Visual Learning & Virtual Lab Solution & university question and Answer</option>
                            <option value="FACE ProGrad">FACE ProGrad</option>
                            <option value="STEP TRAIN">STEP TRAIN</option>  
                            <option value="Interactive Teaching and Learning Platform">Interactive Teaching and Learning Platform</option>
                            <option value="E-Box">E-Box</option>
                            <option value="Talent Rank">Talent Rank</option>
                            <option value="Accelerator Program">Accelerator Program</option>
                            <option value="EnglishBolo">EnglishBolo</option>
                            <option value="Career Path Navigator">Career Path Navigator (Training Recommendation & Intervention)</option>
                            <option value="Job Readiness">Job Readiness (Company Specific Mocks/Prep)</option>
                            <option value="Embibe for Learners & Educators">Embibe for Learners & Educators</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <h6 class="mt-2">Bucket :</h6>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="Bucket" name="bucket" id="bucket" readonly>
                    </div>
                </div>

                <table class="table table-bordered table-hover" id="teacherquestions" style="display: none;">
                    <tbody>
                        <tr>
                            <td class="ques">Was the course useful ?</td>
                            <td class="range">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer1" value="1">1
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer1" value="2">2
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer1" value="3">3
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer1" value="4">4
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ques">Does the course make you more employable ?</td>
                            <td class="range">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer2" value="1">1
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer2" value="2">2
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer2" value="3">3
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer2" value="4">4
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ques">Was the quality of content, question or product good ?</td>
                            <td class="range">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer3" value="1">1
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer3" value="2">2
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer3" value="3">3
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer3" value="4">4
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ques">Was the flow of content or sequence of questions and activities logically connected ?</td>
                            <td class="range">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer4" value="1">1
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer4" value="2">2
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer4" value="3">3
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer4" value="4">4
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ques">Was the course/product build to meet your personalized requirements ?</td>
                            <td class="range">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer5" value="1">1
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer5" value="2">2
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer5" value="3">3
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer5" value="4">4
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ques">Was the expected outcome delivered sufficiently ?</td>
                            <td class="range">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer6" value="1">1
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer6" value="2">2
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer6" value="3">3
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer6" value="4">4
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ques">Was the correctness of content/question/suggestions validated by you and found acceptable ?</td>
                            <td class="range">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer7" value="1">1
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer7" value="2">2
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer7" value="3">3
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer7" value="4">4
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="ques">Was the learning experience engaging and keep you interested in product use ?</td>
                            <td class="range">
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer8" value="1">1
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer8" value="2">2
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer8" value="3">3
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label" for="radio1">
                                        <input type="radio" class="form-check-input" name="answer8" value="4">4
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="container" style="text-align: center;">
                    <button type="submit" class="btn btn-outline-success w-25">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>