<div class="container-fluid" style="margin-top: 5vh;text-align: center;">

    <div class="row mb-3" style="width: 50vw;margin-left: 20vw;">
        <div class="col">
            <div class="card">
                <div class="card-body" id="totalstudentresponse">
                    <h4 class="mb-3"></h4>
                    <h5>Total Student Responses</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body" id="totalteacherresponse">
                    <h4 class="mb-3"></h4>
                    <h5>Total Teacher Responses</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 mb-5" style="width: 50vw; margin-left: 20vw;">
        <h6 class="mt-3 mb-3">Select Product :</h6>
        <select class="form-control" name="products" id="products">
            <option value="select" selected disabled>Select</option>
            <option value="LetzConnect">LetzConnect</option>
            <option value="Glabs">Glabs</option>
            <option value="ONE.class">ONE.class</option>
            <option value="PupilFirst">PupilFirst</option>
            <option value="Aspiration.ai">Aspiration.ai</option>
            <option value="upGrad for College">upGrad for College-  5 Seperate Programs - Specialization program in Data Science, Digital Marketing, Business Analytics, Fundamental of Programming, Full Stack Development</option>
            <option value="Visual Learning">Visual Learning & Virtual Lab Solution & university question and Answer</option>
            <option value="FACE ProGrad">FACE ProGrad</option>
            <option value="STEP TRAIN">STEP TRAIN</option>  
            <option value="Interactive Teaching and Learning Platform">Interactive Teaching and Learning Platform</option>
            <option value="E-Box">E-Box</option>
            <option value="Talent Rank">Talent Rank</option>
            <option value="Accelerator Program">Accelerator Program</option>
            <option value="EnglishBolo">EnglishBolo</option>
            <option value="Career Path Navigator">Career Path Navigator (Training Recommendation & Intervention)</option>
            <option value="Job Readiness">Job Readiness (Company Specific Mocks/Prep)</option>
            <option value="Embibe for Learners & Educators">Embibe for Learners & Educators</option>
        </select>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Student Responses</div>
                <div class="card-body">
                    <table class="table table-bordered table-hover" id="studenttable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Average is</th>
                            </tr>
                        </thead>
                        <tbody id="studentresponses"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">Teacher Responses</div>
                <div class="card-body">
                    <table class="table table-bordered table-hover" id="teachertable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Average is</th>
                            </tr>
                        </thead>
                        <tbody id="teacherresponses"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</div>