<div class="container-fluid" style="margin-top: 5vh">
    <div class="row mt-3 mb-3" style="width: 50vw;text-align: center;">
        <select class="form-control" name="products" id="products">
            <option value="select" selected disabled>Select</option>
            <option value="Aspiration Talent Bridge">Aspiration Talent Bridge</option>
            <option value="WILEYNXT">WILEYNXT</option>
            <option value="STEP TRAIN">STEP TRAIN</option>
            <option value="GLABS">GLABS</option>
            <option value="LETZ CONNECT">LETZ CONNECT</option>
            <option value="ONE.Class">ONE.Class</option>
            <option value="Coding and Testing Skills">Coding and Testing Skills</option>
            <option value="Interactive Teaching & Learning Platform">Interactive Teaching & Learning Platform</option>
            <option value="EMBIBE">EMBIBE</option>
            <option value="Talent Rank">Talent Rank (assessment test)</option>
            <option value="Pro Grad">Pro Grad</option>
            <option value="SV.CO">SV.CO</option>
            <option value="PG Diploma in Data Science">PG Diploma in Data Science</option>
            <option value="upGrad for Institutes">upGrad for Institutes</option>
            <option value="Digital Marketing Certification Program">Digital Marketing Certification Program</option>
            <option value="Business Analystics Certification">Business Analystics Certification</option>
            <option value="Entrepreneurship Certification">Entrepreneurship Certification</option>
            <option value="IELTS Test Pre">IELTS Test Pre</option>
            <option value="Vocabulary Builder">Vocabulary Builder</option>
            <option value="Esp for Institutes">Esp for Institutes</option>
            <option value="English for speaking purpose">English for speaking purpose</option>
            <option value="Digital English">Digital English</option>
            <option value="BBC Active">BBC Active</option>
            <option value="Scholar">Scholar</option>
            <option value="Job Edge">Job Edge</option>
            <option value="Job Edge Institute and ICT">Job Edge Institute and ICT</option>
            <option value="ENGLISH BOLO">ENGLISH BOLO</option>
            <option value="Learn Engg">Learn Engg</option>
            <option value="Career Path Navigator (Training Recommendation & Intervention)">Career Path Navigator (Training Recommendation & Intervention)</option>
            <option value="Company Specific Mock Packages">Company Specific Mock Packages</option>
        </select>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Student Responses</div>
                <div class="card-body">
                    <table class="table table-bordered table-hover" id="studenttable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Average is</th>
                            </tr>
                        </thead>
                        <tbody id="studentresponses"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">Teacher Responses</div>
                <div class="card-body">
                    <table class="table table-bordered table-hover" id="teachertable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Average is</th>
                            </tr>
                        </thead>
                        <tbody id="teacherresponses"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</div>